/* ±âº» Hyperlink Style */
A:link { font-size:9pt; font-family:µ¸¿ò;color:#000000; text-decoration:none; }
A:visited { font-size:9pt; font-family:µ¸¿ò;color:#000000; text-decoration:none; }
A:active { font-size:9pt; font-family:µ¸¿ò;color:red; text-decoration:none; }
A:hover { font-size:9pt; font-family:µ¸¿ò;color:red ;text-decoration:none;}

/* Å¾¸Þ´º */
.top { font-family: "µ¸¿ò"; font-size: 12px; font-weight: bold; color: #FFFFFF; text-align: center; }

/* Å¸ÀÌÆ² */
.title { font-family: "µ¸¿ò"; font-size: 14px; font-weight: bold; color: #000000; text-align: center; }

/* Ä¿¹Â´ÏÆ¼ Å¸ÀÌÆ² */
.com_title { font-family:"µ¸¿ò"; font-size:9pt; color:#CC0000; line-height:12pt;  font-weight: bold;}

/* ÀÏ¹Ý ÅØ½ºÆ® */
.text { font-family:"µ¸¿ò"; font-size:9pt; color:#000000; line-height:12pt}

