<?xml version="1.0" encoding="utf-8"?>
<config>
	<licenseNumber>9502-9999-000062</licenseNumber>
	<domainKey>6fa3181f54726913dcc7fd962e84104e4e8cde216eb48f4bbdacf942cedb6182b5bc482cd7b458ee42cb88ca88c9ca99082186489f8c4a05ff79c99fde643ee9db2cf2631d741debed6c426b83c5e3d6f7e714c14f098a3bbd961d5046588fe4</domainKey>
	<maxImageNum>20</maxImageNum>
	<maxImageWidth>1600</maxImageWidth>
	<maxImageHeight>1600</maxImageHeight>
	<maxImageBytes>10485760</maxImageBytes>
	<checkImageTitle>off</checkImageTitle>
	<locale>kor</locale>
	<services>
		<service>
			<name>Editor</name>
			<iconURL></iconURL>
			<url>com/namo/Editor.swf</url>
		</service>
		<service>
			<name>Slideshow</name>
			<iconURL>assets/images/slideshow/slideshow_icon.png</iconURL>
			<url>com/namo/Slideshow.swf</url>
		</service>
	</services>
</config>
